.wrapper
{
    border-top: 8px solid rgb(83, 7, 64);
    height: 500px;
    display: flex;
    flex-direction: column; /* опускает флекс вниз */
    align-items: center; 
}

body
{
    margin: 0;
}

.header
{
    height: 130px;
    width: 1020px;
    margin: 0 auto; /*авто настройка по середине*/
    display: flex;
    align-items: center; /*space-around - одинаковые отступы со всех сторон, space-between */
                            /*space-between - прилип карем к родительскому контенту */
    justify-content: space-between;
}                

.link-item
{
    text-decoration: none; /* убирает подчеркивания под словами*/
    font-size: 19px;
    color: #545454;
    text-transform: capitalize; /* каждое новое слово будет с большой буквы */
    margin-right: 65px; /* отступ между каждой из ссылок */
}

.link-item:last-child
{
    margin-right: 0; /* уехала вправо */
}

.banner
{
    width: 1020px;
    height: 485px;
    background-color: yellow;
    background-image: url(../images/block.png); /* вставляем нашу картинку*/
    background-repeat: no-repeat; /* отключаем повторения */
    background-position: center; /* позиция картинки */
    background-size: cover; /* обрезаем лишнее */
    color: white;
    display: flex; /* ТО, ЧТО НУЖНО ДЛЯ ОТОБРАЖЕНИЯ СТРЕЛОК ПО БОКАМ */
    align-items: center;/* ТО, ЧТО НУЖНО ДЛЯ ОТОБРАЖЕНИЯ СТРЕЛОК ПО БОКАМ */
    justify-content: space-between;/* ТО, ЧТО НУЖНО ДЛЯ ОТОБРАЖЕНИЯ СТРЕЛОК ПО БОКАМ */
}

.slide-btn /* параметры стрелок */
{
    width: 35px;
    height: 65px;
    background-color:rgb(83, 7, 64);
    font-size: 30px;
    font-weight: bold;
    display: flex; /* ТО, ЧТО НУЖНО ДЛЯ ОТОБРАЖЕНИЯ ОБъЕКТА ПОСРЕДИ БЛОКА */
    align-items: center; /* ТО, ЧТО НУЖНО ДЛЯ ОТОБРАЖЕНИЯ ОБъЕКТА ПОСРЕДИ БЛОКА */
    justify-content: center; /* ТО, ЧТО НУЖНО ДЛЯ ОТОБРАЖЕНИЯ ОБъЕКТА ПОСРЕДИ БЛОКА */
}

.banner-title
{
    text-transform: capitalize;
    font-size: 117px;
    text-shadow: -4px 5px 0 rgba(0, 0, 0, .45);
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.banner-descr
{
    font-size: 27px;
    text-shadow: -2px 2px 0 rgba(0, 0, 0, .45);
}

.banner-text
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.tips
{
width: 1020px;
border-top: 1px solid #bfbfbf;
border-bottom: 1px solid #bfbfbf;
padding: 20px 50px 25px 50px; /* верхний отступ, правый отступ, нижний отступ, правый отступ*/
margin-top: 40px;
text-align: center;
font-size: 23px;
font-style: italic;
line-height: 52px; /* отступы между строками текста*/
box-sizing: border-box; /* В случаях, когда используем padding и т.д.*/
font-family: 'Roboto', sans-serif;
}

.tips-bold
{
    font-weight: bold;
    color: #82699d;
}

.tips-bold1
{
    font-weight: bold;
    color: black;
    margin-bottom: 90px;
    font-size: 30px;
}

.card
{
    width: 1020px;
    padding: 0 22px;
    box-sizing: border-box;
    height: 315px;
    display: flex;
    position: relative;
    margin-top: 31px;
    align-items: center;
}

.card-info
{
    margin-left: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-title
{
font-weight: bold;
font-size: 31px;
}

.card-text
{
font-weight: 400;
font-size: 15px;
color: #838383;
}

.more
{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 13px;
    font-style: italic;
    color: #838383;
    cursor: 
    pointer;
}

.more:hover
{
color: purple;
filter: hue-rotate(80deg); /* Управление оттенками цветов */
}


.divider
{
    width: 1020px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    display: flex;
    align-items: center;
}

.divider-line
{
    width: 100%;
    margin-left: 8px;
    border-top: 6px dotted #bfbfbf;
}

.divider-text
{
    white-space: nowrap; /* запрещает перенос текста */
}

.clients
{
    width: 1020px;
    background-color: #f5f5f5;
    border: 1px solid #e4e4e4;
    display: flex;
    box-sizing: border-box;
    margin: 44px 0 61px 0;
}

.client-item
{
    width: 100%;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e4e4e4;
}

.client-item:last-child
{
    border-right: none;
}

.footer
{
    width: 100%;
    height: 67px;
    background: linear-gradient(to right, red, yellow);
    display: flex;
    justify-content: center;
    border-bottom: 8px solid #a292b3;
}

.footer-content
{
    width: 1020px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social
{
    width: 83px;
    display: flex;
    justify-content:space-between;
}

.menu
{
    width: 80px;
    height: 80px;
    border: 3px solid #82699d;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer; 
    display: none;
    align-items: center;
    justify-content: center;
}

.menu-line
{
    width: 50px;
    height: 3px;
    background-color: #82699d;
    position: relative;
    transition: .4s;
}

.menu-line::before
{ /* псевдо-элемент */
    content: '';
    width: 50px;
    height: 3px;
    background-color: #82699d;
    position: absolute;
    left: 0;
    bottom: 15px;
    transition: .4s;

}

.menu-line::after
{ /* псевдо-элемент */
    content: '';
    width: 50px;
    height: 3px;
    background-color: #82699d;
    position: absolute;
    left: 0;
    top: 15px;
    transition: .4s;

}

.menu:hover > /* вложенность */ .menu-line
{
    background-color: transparent; /* перекрашиваются полоски в моб версии*/
}

.menu:hover > .menu-line::after
{
    transform: rotate(-45deg); /* трансформация - вращение (-45 градусов)*/
    top: 0;
}

.menu:hover > .menu-line::before
{
    transform: rotate(45deg); /* трансформация - вращение (45 градусов)*/
    bottom: 0;
}

@media screen and (max-width: 1020px)
{

.header
{
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.logo
{
    width: 150px;
}

.banner-title
{
    font-size: 70px;
}


.banner
{
    width:100%;
}

.links
{
    display:none;
}


.menu
{
    display: flex;
}

.tips
{
    width:100%;
}

.card
{
    width:100%;
    flex-direction: column;
    height: auto;
}

.divider
{
    width:100%;
    justify-content: center;
}

.divider-text
{
    font-size: 17px;
}

.divider-line
{
    display: none;
}

.clients
{
    width:100%;
    flex-direction: column;
    height: auto;
}

.footer-content
{
    width:100%;
    padding: 0 10px;
    box-sizing: border-box;
}
}
/*/////////
//////////
///////////
/////////
/////////
/
//
/
*/
